<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.auth.mapper.RefreshTokenMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.auth.model.RefreshToken">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="expires_at" jdbcType="TIMESTAMP" property="expiresAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, token, expires_at, created_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from refresh_tokens
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from refresh_tokens
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.harmoni.auth.model.RefreshToken">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into refresh_tokens (user_id, token, expires_at, 
      created_at)
    values (#{userId,jdbcType=BIGINT}, #{token,jdbcType=VARCHAR}, #{expiresAt,jdbcType=TIMESTAMP}, 
      #{createdAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.auth.model.RefreshToken">
    update refresh_tokens
    set user_id = #{userId,jdbcType=BIGINT},
      token = #{token,jdbcType=VARCHAR},
      expires_at = #{expiresAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>